#code_area {
  font-size: medium;
  width: 700px;
  height: 540px;
}

.middle_box {
  padding: 20px 0;
  width: 700px;
}

.middle_box #submit_btn {
  width: 120px;
  height: 40px;
  font-size: medium;
  color: black;
  background: linear-gradient(135deg, #c6ffdd, #fbd786, #f7797d);
}

.middle_box #submit_btn:active {
  background: linear-gradient(135deg, #ffffff, #6dd5fa, #2980b9);
}

.middle_box .dropdown_wrapper {
  margin: 20px;
  font-size: medium;
}

.middle_box .dropdown_wrapper #dropdown {
  font-size: medium;
  width: 140px;
  height: 30px;
}

.middle_box #input_box {
  background: #052440;
  vertical-align: middle;
  font-family: Consolas, monospace;
  font-size: medium;
  color: rgb(255, 255, 255);
}

#output_box {
  border: solid black 1px;
  width: 700px;
  background: #052440;
}

#output_box #result {
  font-family: Consolas, monospace;
  font-size: medium;
  color: white;
  margin: 10px 20px;
  white-space: pre-wrap;
}
